body {
  background-image: url("../hosp2.avif");
}

h1 {
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.1em;
  overflow: hidden;
  animation: typing 5s steps(30), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 45%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: rgb(red, green, blue);
  }
  50% {
    border-color: rgb(255, 0, 140);
  }
}

a {
  text-decoration: none;
  color: rgb(247, 3, 153);
  font-weight: bolder;
}

ul {
  text-align: center;
  list-style-type: none;
  font-size: 45px;
  color: black;
}

li {
  margin-bottom: 5%;
}

.hidden {
  display: none;
}
